<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Countries App</title>

    <link rel="shortcut icon" href="./assets/images/favicon.png" />

    <link rel="stylesheet" href="./assets/css/bootstrap.css" />

    <script defer src="./assets/js/vue.js"></script>

    <script defer src="./assets/js/app.js"></script>
  </head>
  <body>
    <div class="container my-5" id="app">
      <h1>Countries App {{search}}</h1>

      <select
        v-model="selected"
        class="d-block my-3 ml-auto w-25"
        v-model="selected"
      >
        <option value="All">All</option>
        <option v-for="item in rates" @change="countriesList">
          {{item.cc}}
        </option>
      </select>
      <input
        v-model="search"
        type="text"
        placeholder="Search"
        class="d-block my-3 ml-auto w-25"
      />

      <table class="table">
        <thead>
          <tr>
            <th scope="col">
              Name
              <span v-if="titleUp" @click="titleUpActive">&#x2b06;</span>
              <span v-if="titleDown" @click="titleDownActive">&#x2b07;</span>
            </th>
            <th scope="col">Flag</th>
            <th scope="col">Name</th>
            <th scope="col">
              Rate
              <span v-if="rateUp" @click="rateUpActive"
                >&#x2b06;</span
              >
              <span v-if="rateDown" @click="rateDownActive">&#x2b07;</span>
            </th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in filteArray">
            <td>{{item.name}}</td>
            <td>
              <img style="width: 42px" class="shadow" v-bind:src="item.flag" />
            </td>
            <td>({{item.currencies[0].code}} - {{item.currencies[0].txt}})</td>
            <td>Курс: {{item.currencies[0].rate}}</td>
            <td>{{item.exchangedate}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
